@using Dyndle.Modules.Core.Html
@using System.Collections
@using System.Configuration
@using System.Collections.Specialized
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dyndle webapp - XPM Lite</title>

    <link href="~/content/css/app.css" rel="stylesheet" media="screen">
    <link href="~/content/css/styles.css" rel="stylesheet" media="screen">

    <!-- XPMLITE -->
    <link rel="stylesheet" href="/content/xpmlite/css/dxa-inline-RzZ2T0UD.css">
    <link rel="stylesheet" href="/content/xpmlite/css/dxa-xpmlite-BLyZ_BF3.css">
    <!-- XPMLITE END -->

    <script src="/content/js/main.js"></script>
</head>
<body>

    <div class="body-content">
        @Html.RenderIncludes("dyndle_header", "HeaderPage")
        @RenderBody()
        @Html.RenderIncludes("dyndle_footer", "FooterPage")
    </div>

    @{
        if (CapabilityHelper.IsPreviewEnabled())
        {
            <div class="page-loader" style="display: none;">
                <div class="loader">Loading...</div>
            </div>

            <div id="xpmlite">
            </div>


            netfw48.App_Start.PageTypeImagesConfigSection pageTypeImageSection = (netfw48.App_Start.PageTypeImagesConfigSection)ConfigurationManager.GetSection("PageTypeImageSection");

            List<netfw48.App_Start.PageTypeImage> PageTypeImages = new List<netfw48.App_Start.PageTypeImage>();
            foreach (netfw48.App_Start.FolderElement item in pageTypeImageSection.PageTypeImages)
            {
                PageTypeImages.Add(new netfw48.App_Start.PageTypeImage() { PageTitle = item.PageTitle, Path = item.Path, PublicationID = item.PublicationID });
            }
            var serializedItems = Newtonsoft.Json.JsonConvert.SerializeObject(PageTypeImages);


            <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.7.0/tinymce.min.js" referrerpolicy="origin"></script>


            <script type="text/javascript">

                function getPageTypeImages() {
                	var images = @Html.Raw(@serializedItems);
                	return images;
                }

                function getConfig(){
                        const config = {
                            staging: '@CapabilityHelper.IsPreviewEnabled()',
		                    client_id:'@System.Configuration.ConfigurationManager.AppSettings["client_id"]',
		                    redirect_uri:'@System.Configuration.ConfigurationManager.AppSettings["redirect_uri"]',
		                    openapi_baseurl : '@System.Configuration.ConfigurationManager.AppSettings["openapi_baseurl"]',
		                    authorization_baseurl : '@System.Configuration.ConfigurationManager.AppSettings["authorization_baseurl"]',
                            contentServiceUrl: '@System.Configuration.ConfigurationManager.AppSettings["contentServiceUrl"]',
                            experience_space_url:'@System.Configuration.ConfigurationManager.AppSettings["experience_space_url"]',

	                    }
	                    return config;
                }



                if (String(window.getConfig?.().staging).toLowerCase()==="true") {
                    const editorScript = document.createElement("script");
                    editorScript.src = "/content/xpmlite/js/dxa-inline-BgHCj97B.js";
                    editorScript.defer = true;
                    document.head.appendChild(editorScript);

                    const dxaXpmliteScript = document.createElement("script");
                    dxaXpmliteScript.src = "/content/xpmlite/js/dxa-xpmlite-5uCZb9VB.js";
                    editorScript.defer = true;
                    document.head.appendChild(dxaXpmliteScript);
                }
            </script>
        }
    }
</body>
</html>